body{
	margin:0;
	padding: 0;
	background-color: #e4dede;
}

.container-fluid.primera-cajita{
	background-color: #5cab8e;
	height:100px;
}

.inicio{
	width: 100%;
	height: 50px;
	background-color: #e4dede;
	margin-top: 40px;
}

.inicio2{
	width: 100%;
	height: 50px;
	background-color: #e4dede;
	margin-top: 40px;
}

.inicio2.rounded-circle{
	width: 10%;
}


input.input{
	font-size: 10px;
}
input{
	width: 100%;
}

img.rounded-circle{
	width: 10%;
}

.mensajes h5{
display: inline;
}

.mensaje p{
  display: inline;
}
